- page_header "Private Messages"

.row
  .col-sm-3
    %p
      = link_to 'New Thread', new_message_path, class: 'btn btn-default btn-sm btn-block'
    %br

    .panel.panel-default
      .panel-heading
        %h3.panel-title Mailboxes
      .panel-body
        %ul.nav.nav-pills.nav-stacked
          = mailbox_section 'inbox', @box
          = mailbox_section 'sent', @box
          = mailbox_section 'trash', @box
  .col-sm-9                                                               |
    %ul.list-group= render partial: 'conversations/conversation', collection: @conversations
    = will_paginate
