!!! 5
%html
  %head
    %meta{ charset: 'utf-8' }
    %meta{ 'http-equiv' => 'X-UA-Compatible', content: 'IE=edge,chrome=1' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
    %title
      Title
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'head' # Only modernizr, respond.js
    = csrf_meta_tags
  %body.unauthenticated
    .container
      - flash.each do |type, message|
        = alert_box message, context: flash_context(type), dismissible: true unless message.blank?

      .row
        .col-md-6.col-md-offset-3
          .panel.panel-default
            .panel-heading
              %h3.panel-title
                = yield :page_header
            .panel-body
              = yield
    - # Most JS Stuff needs to be at the bottom of the body.
    - #
    - # TODO: Use Google CDN's jQuery, with local fallback
    = javascript_include_tag 'application'
